.pictureContainer {
  left: 40%;
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.0975);
}

.profilePicture {
  position: absolute;
  height: 100%;
  width: auto;
}

.autobotLogo {
  position: absolute;
  height: 35px;
  width: 35px;
  bottom: 0;
  left: 38%;
}
