.headerContainer {
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  position: sticky;
  top: 0;
  z-index: 3;
  background: #fff;
  height: 90px;
}

header {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logoContainer img {
  width: 160px;
}

.inputContainer {
  position: relative;
}

.inputContainer img {
  position: absolute;
  top: 32%;
  left: 31%;
  width: 14px;
  z-index: 11;
}

input {
  border: 1px solid rgba(0, 0, 0, 0.0975);
  padding: 6px;
  font-size: 16px;
  width: 215px;
  background: rgba(var(--b3f, 250, 250, 250), 1);
  text-align: center;
}

.compassIcon {
  width: 32px;
  margin: 0 32px 9px 0;
}

.heartIcon {
  width: 32px;
  margin: 0 22px 9px 0;
}

.profileIcon {
  width: 50px;
}
